<div class="dashboard-grid">

  <!-- Linha superior com totais -->
  <mat-card class="card tall">
    <h3>Total Vulnerabilidades</h3>
    <p class="total">{{ totalVulnerabilidades }}</p>
  </mat-card>

  <mat-card class="card tall">
    <h3>Subdomínio com mais Críticas</h3>
    <p class="sub">{{ subdominioComMaisCriticas }}</p>
  </mat-card>

  <mat-card class="card tall">
    <h3>Subdomínio com mais Vulnerabilidades</h3>
    <p class="sub">{{ subdominioComMais }}</p>
  </mat-card>

  <!-- Severidades individuais -->
  <mat-card class="card small" *ngFor="let crit of criticidades">
    <h4>{{ crit | titlecase }}</h4>
    <p class="sub">{{ vulnerabilidadesPorCriticidade[crit] }}</p>
  </mat-card>

  <!-- Gráficos -->
  <mat-card class="card wide">
    <h4>Distribuição por Subdomínio</h4>
    <canvas baseChart [data]="chartBarras.data" [type]="chartBarras.type" [options]="chartBarras.options"></canvas>
  </mat-card>

  <mat-card class="card">
    <h4>Proporção Geral</h4>
    <canvas baseChart [data]="chartPizza.data" [type]="chartPizza.type" [options]="chartPizza.options"></canvas>
  </mat-card>

  <mat-card class="card wide">
    <h4>Distribuição por Severidade</h4>
    <canvas baseChart [data]="chartRadar.data" [type]="chartRadar.type" [options]="chartRadar.options"></canvas>
  </mat-card>



  <!-- Ação -->
  <div class="dashboard-actions">
    <button class="search-button" (click)="emitirRelatorio()">Emitir Relatório</button>
  </div>
</div>
