* {
  font-family: 'Rajdhani', sans-serif;
}

/* Menu Container */
.menu-container {
  width: 70px;
  height: 170vh;
  background-color: #440724;
  padding: 1rem 0.5rem;
  box-shadow: none !important;
  border-radius: 0 1rem 1rem 0;
  overflow: hidden;
  transition: width 0.4s ease; 
  position: relative;
}

.menu-container:hover {
  width: 220px;
  padding: 1rem;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin-bottom: 1rem;
}

/* Links */
.menu-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    padding 0.4s ease,
    margin 0.4s ease;
  white-space: nowrap;
  color: #cbd5e0;
}

/* Efeito botão */
.menu-list a::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #420422;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Glow */
.menu-list a::before {
  content: "";
  background: linear-gradient(45deg, #4e0a2b, #e01071, #791143, #420422);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* Hover e ativo */
.menu-list a:hover::before {
  opacity: 1;
}

.menu-list a:active::after {
  background: transparent;
}

.menu-list a:active {
  font-weight: bold;
}

.menu-list a:hover,
.menu-list a.active-link {
  background-color: #e01071;
}

/* Estilização controlada dos filhos (ícone e texto) */
.menu-list a:hover i,
.menu-list a.active-link i,
.menu-list a:hover span,
.menu-list a.active-link span {
  color: #ffffff;
}

/* Ícones */
.menu-list i {
  font-size: 1.5rem;
  margin-right: 0.75rem;
  color: #cbd5e0;
  transition: color 0.3s ease, margin 0.4s ease;
}

/* Esconde texto quando fechado */
.menu-container:not(:hover) .menu-list span {
  display: none;
}

/* Centraliza ícone quando fechado */
.menu-container:not(:hover) .menu-list a {
  justify-content: center;
}
