/* Menu Container */
.menu-container {
  width: 70px;
  height: 90vh;
  background-color: #440724;
  padding: 1rem 0.5rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 1rem 1rem 0;
  overflow: hidden;
  transition: width 0.4s ease; 
  position: relative;
}

.menu-container:hover {
  width: 220px;
  padding: 1rem;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin-bottom: 1rem;
}

/* Estilo dos links dentro do menu */
.menu-list a {
  display: flex;
  align-items: center;
  justify-content: center; /* Garante que o texto fique centralizado */
  color: #cbd5e0;
  text-decoration: none;
  font-weight: 500;
  padding: 0.75rem 1.5rem; /* Ajuste para garantir que o texto fique dentro do botão */
  border-radius: 1rem; /* Mais arredondado para o botão */
  position: relative;
  z-index: 1; /* Garantir que o texto fique acima do efeito */
  transition: 
    background-color 0.4s ease,
    color 0.4s ease,
    padding 0.4s ease,
    margin 0.4s ease;
  white-space: nowrap; /* Não deixa o texto quebrar */
}

/* Efeito de botão como o .btn */
.menu-list a::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #420422;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Glow */
.menu-list a::before {
  content: "";
  background: linear-gradient(
    45deg,
    #4e0a2b, #e01071, #791143, #420422
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1; /* Coloca o efeito atrás do botão */
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* Hover */
.menu-list a:hover::before {
  opacity: 1;
}

.menu-list a:active::after {
  background: transparent;
}

.menu-list a:active {
  color: #000;
  font-weight: bold;
}

/* Hover com rosa vibrante */
.menu-list a:hover,
.active-link {
  background-color: #e01071; /* Hover com rosa vibrante */
  color: #ffffff;
}

/* Icones dentro dos links */
.menu-list i {
  font-size: 1.5rem;
  margin-right: 0.75rem;
  transition: margin 0.4s ease;
}

/* Esconde o texto (span) quando menu está fechado */
.menu-container:not(:hover) .menu-list span {
  display: none;
}

/* Opcional: centraliza melhor os ícones no menu fechado */
.menu-container:not(:hover) .menu-list a {
  justify-content: center;
}