<div class="main-container">
  <div class="search-container">
    <img src="logo teste.png" alt="Logo Apex" class="logo-apex" />

    <input
      type="url"
      [(ngModel)]="url"
      placeholder="Inserir a URL aqui"
      required
      class="url-input"
    />

    <button (click)="onSearch()" class="search-button">
      Iniciar busca <i class="bx bx-search"></i>
    </button>
  </div>
</div>

<!-- Resultado fora do .search-container -->
<div *ngIf="resultado" class="resultado-container">
  <h3 class="resultado-titulo">Resultado do Scan</h3>
  <pre class="resultado-pre">{{ resultado }}</pre>
</div>
