<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apex</title>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  
</head>

<body>

  <div class="search-container">
    <img src="logo teste.png" alt="Logo Apex" class="logo-apex">

    <input
      type="url"
      [(ngModel)]="url"
      placeholder="Inserir a URL aqui"
      required
      class="url-input"
    />

    <button (click)="onSearch()" class="search-button">
      Iniciar busca <i class="bx bx-search"></i>     
    </button>
  </div>

</body>

</html>
