<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">



<div class="login-wrapper">
    <img src="logo teste.png" alt="Logo Apex" class="logo-apex">
    <div class="login-card">
      <h2>Bem-vindo de volta</h2>
      <p>Acesse o sistema com suas credenciais</p>
  
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input type="email" formControlName="email" placeholder="E-mail" />
        <input type="password" formControlName="password" placeholder="Senha" />
        <button type="submit" [disabled]="form.invalid">Entrar</button>
        <a style="color:white" [routerLink]="'/cadastrarEmpresa'">Cadastrar empresa</a>
      </form>
    </div>
  </div>
  