<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">



<section class="hero">
    <div class="container">
      <img src="logo teste.png" alt="logotextopng">
      <!-- <button routerLink="/login">Login</button> -->
    </div>
  </section>

  <section class="features">
    <div class="container">
      <div class="feature">
        <h3>Monitoramento do Ambiente</h3>
        <p>Acompanhe a superfície de ataque da sua empresa com varreduras inteligentes e técnicas.</p>
      </div>
      <div class="feature">
        <h3>Simplicidade que Potencializa Resultados</h3>
        <p>Projetado para ser direto, sem curva de aprendizado.</p>
      </div>
      <div class="feature">
        <h3>Visão Técnica e Gerencial Unificadas</h3>
        <p>Informações acessíveis para gestores.<br>Detalhes profundos para analistas.<br>Uma visão completa para todos.</p>
      </div>
    </div>
  </section>




