* {
  font-family: 'Rajdhani', sans-serif;
}

.footer {
    background-color: #0d1117;
    color: #ccc;
    padding: 1.5rem 2rem;
    text-align: center;
  
    p {
      margin: 0;
      font-size: 0.9rem;
    }
  }
  