<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">



<div class="form-wrapper">
  <h2>Cadastrar Empresa</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome da empresa</label>
      <input id="nome" formControlName="nome" type="text" placeholder="" />
    </div>

    <div class="form-group">
      <label for="cnpj">CNPJ</label>
      <input id="cnpj" formControlName="cnpj" type="text" placeholder="00.000.000/0001-00" />
    </div>


    <div class="form-group">
      <label for="endereco">Endereço</label>
      <input id="endereco" formControlName="endereco" type="text" placeholder="Rua Exemplo, 123" />
    </div>

    <div class="form-group">
      <label for="cidade">Cidade</label>
      <input id="cidade" formControlName="cidade" type="text" placeholder="São Paulo" />
    </div>

    <div class="form-group">
    <label for="email">Email do responsável</label>
    <input id="email" formControlName="email" type="email" placeholder="empresa@email.com" />
    </div>

    <div class="form-group">
      <label for="senha">Senha</label>
      <input id="senha" formControlName="senha" type="password" placeholder="********" />
    </div>



    <button type="submit" class="search-button">Cadastrar</button>
  </form>
</div>
