* {
  font-family: 'Rajdhani', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  display: flex;
  flex: 1;
}

/* Remover a largura fixa do menu para preservar o hover */
app-vertical-menu {
  background-color: #440724;
  min-height: calc(100vh - 60px); /* mantém altura */
  display: block; /* garante que ocupe espaço */
}

/* Remove padding lateral do conteúdo */
router-outlet {
  flex: 1;
  padding: 0;
}
